<h2 mat-dialog-title>Nouvelle tâche</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Titre</mat-label>
    <input matInput [(ngModel)]="tache.titre" />
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="tache.description" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" (click)="valider()">
    Ajouter
  </button>
</mat-dialog-actions>