.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
  padding-top: 10px;
}
.tache-card {
    padding: 5px;
    margin-left: 2%;
    margin-right: 2%;
    width: 98%;
    background-color: #2196f3;
    color: white;
}

.tache-card mat-card-actions button {
  background-color: white;
  color: #1976d2;
}

.action-card {
  display: flex;
  justify-content: center;
  gap: 12px;
  color: white;
}

.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  background-color: #ff5252 !important;
  color: white !important;
}

@media (max-width: 600px) {
  .fab {
    bottom: 16px;
    right: 16px;
  }
}
.titre {
  margin-left: 8px;
}