.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  min-height: 40px;
  background: #376ea1;
  color: white;
  z-index: 1000;
}
.header .mat-mdc-toolbar-row {
  height: 40px;
}
.titre {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 500 ;
}
.spacer {
  flex: 1;
}
.logo {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.content {
  padding: 40px 16px 16px;
}
.spacer {
  flex: 1;
}
.container {
  height: 100vh;
}
mat-sidenav {
  width: 250px;
}