.home-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100%;
  text-align: center;
  padding-top: 100px;
}

.home-logo {
  width: 160px;
  height: 160px;
  margin-bottom: 24px;
}

h1 {
  margin: 0;
  color: #1976d2;
  font-size: 2rem;
}

p {
  color: #666;
  margin-top: 12px;
}